# Virtual Camera HAL service (vendor APEX)

# Restart on rebootless update activation
on property:apex.com.android.hardware.camera.provider.virtual.ready=true
    restart vendor.camera-provider-virtual

service vendor.camera-provider-virtual /apex/com.android.hardware.camera.provider.virtual/bin/hw/android.hardware.camera.provider-virtual-service
    class hal
    user cameraserver
    group audio camera input drmrpc system graphics
    ioprio rt 4
    task_profiles CameraServiceCapacity MaxPerformance
